<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SlaviDimitrov Todo App</title>
</head>
<body>
    <h1>Todos</h1>
    <ul>
        {% for todo in todos %}
            <li>
                <input type="checkbox" name="done" {% if todo['done'] %} checked {%endif%} onchange="this.form.submit()">
                <span {%if todo['done'] %} style="text-decoration: line-through" {%endif%}>{{ todo['task'] }}</span>
                <a href="{{ url_for('check', index=loop.index0) }}">Check</a>
                <a href="{{ url_for('edit', index=loop.index0) }}">Edit</a>
                <a href="{{ url_for('delete', index=loop.index0) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('add') }}" method = "post">
        <input type="text" name="todo">
        <button type="submit">Add Todo</button>
    </form>
</body>
</html>